<!DOCTYPE html>
<html lang="en">

<head>
	<title>Thanh toán</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="main.css" />
</head>

<body>
	<div class="top-menu container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="top-menu-left">
						<ul class="top-menu-ul">
							<li class="top-menu-item hot-line"><i class="fa fa-phone"></i> Hotline: 0912 333 444</li>
						</ul>
					</div>
					<div class="top-menu-right">
						<ul class="top-menu-ul">
							<li class="top-menu-item">
								<!-- <a class="top-item-link" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a> -->
								  
								<a class="top-item-link" href=""><i class="fa fa-shopping-cart"></i> Giỏ hàng</a>
							</li>
							<li class="top-menu-item">
								<a class="top-item-link" data-toggle="modal" data-target="#loginModal"><i class="fa fa-sign-in"></i> Đăng nhập</a>
								<!-- <a class="top-item-link" href=""><i class="fa fa-sign-in"></i> Đăng nhập</a> -->
							</li>
							<li class="top-menu-item">
								<a class="top-item-link" href=""><i class="fa fa-key"></i> Đăng ký</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="container">
			<div class="banner text-center pt-5 pb-5">
				Shop điện tử Online
			</div>
		</div>
	</div>


	<nav class="nav-bar navbar navbar-expand-lg navbar-light bg-light">
		<div class="nav-bar-container container">
			<!-- <a class="navbar-brand" href="#">Navbar</a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="./index.html">Trang chủ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./intro.html">Giới thiệu</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./cart.html">Giỏ hàng</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./news.html">Tin tức</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./contact.html">Liên hệ</a>
					</li>
					
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Nhập tên sản phẩm"/>
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
						Tìm kiến
					</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="main container">
		<div class="row mt-4">
			<div class="cart col-12">
                <h4 class="mb-3">Thông tin thanh toán</h4>
                <table class="table bordered" >
                    <thead class="thead-orange">
                      <tr>
                        <th scope="col">Sản phẩm&nbsp;</th>
                        <th scope="col">Đơn giá&nbsp;</th>
                        <th scope="col">Số lượng&nbsp;</th>
                        <th scope="col">Thành tiền&nbsp;</th>
                        <th scope="col" class="text-center">Xóa</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">
                            <div class="cart-box">
                                <img class="img-fluid"  style="width: 70px;" src="./img/iphone-mini-do-new-600x600-600x600.jpg" alt="">                                
                                <span class="">iPhone mini Đỏ</span>
                            </div>
                        </td>
                        <td>12.500.000</td>
                        <td><input style="width: 70px;" type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1" value="1"></td>
                        <td class="font-weight-bold">25.000.000</td>
                        <td class=" text-center">
                            <a href=""><i class="fa fa-times text-danger cart-delete"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td scope="row">
                            <div class="cart-box">
                                <img class="img-fluid"  style="width: 70px;" src="./img/apple-macbook-air-2020-m1-mgn73saa-1-400x400.jpg" alt="">                                
                                <span class="">iPhone mini Đỏ</span>
                            </div>
                        </td>
                        <td>12.500.000</td>
                        <td><input style="width: 70px;" type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1" value="1"></td>
                        <td class="font-weight-bold">25.000.000</td>
                        <td class=" text-center">
                            <a href=""><i class="fa fa-times text-danger cart-delete"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td scope="row">
                            <div class="cart-box">
                                <img class="img-fluid"  style="width: 70px;" src="./img/iphone-se-2020-den-600x600-600x600.jpg" alt="">                                
                                <span class="">iPhone mini Đỏ</span>
                            </div>
                        </td>
                        <td>12.500.000</td>
                        <td><input style="width: 70px;" type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1" value="1"></td>
                        <td class="font-weight-bold">25.000.000</td>
                        <td class=" text-center">
                            <a href=""><i class="fa fa-times text-danger cart-delete"></i></a>
                        </td>
                      </tr>

                      <tr>
                        <td colspan="5">
                            <div class="row">                                
                                <div class="col-md-4 col-12">
                                    <table class="mb-4 no-border">
                                        <tr>
                                            <td>Tổng cộng:</td>
                                            <td class="font-weight-bold">88.000.000</td>
                                        </tr>
                                        <tr>
                                            <td>Thuế VAT (10%):</td>
                                            <td class="font-weight-bold">8.800.000</td>
                                        </tr>                                        
                                        <tr>
                                            <td>Tổng thanh toán:</td>
                                            <td class="font-weight-bold text-danger">96.800.000</td>
                                        </tr>
                                        
                                    </table>
                                    <a class="btn btn-primary" href="">Thanh toán</a>
                                </div>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
                  
                  
            </div>	
		</div>
	</div>

	<!-- Modal  -->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Đăng nhập</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<form class="pl-4 pr-4"> 
					<div class="form-group row">						
					  <label for="inputUsername" class="col-sm-3 col-form-label">Tài khoản</label>
					  <div class="col-sm-9">
						<input type="text" class="form-control" id="inputUsername" value="">
					  </div>
					</div>
					<div class="form-group row">
					  <label for="inputPassword" class="col-sm-3 col-form-label">Mật khẩu</label>
					  <div class="col-sm-9">
						<input type="password" class="form-control" id="inputPassword" placeholder="">
					  </div>
					</div>
				  </form>
			</div>
			<div class="modal-footer" style="justify-content: center;">
				<button type="button" class="btn btn-primary">Đăng nhập</button>
			  	<button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>			  
			</div>
		  </div>
		</div>
	  </div>
	  <!-- Modal  -->
	<div class="footer container-fluid text-center pt-5 pb-5 bg-light">
		Footer  -  &copy 2020
	</div>
<!-- --------------------------------- Javascript ------------------------------  -->
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="1.js"></script>
</body>

</html>