<!DOCTYPE html>
<html lang="en">

<head>
	<title>Điện thoại Samsung</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="main.css" />
</head>

<body>
	<div class="top-menu container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="top-menu-left">
						<ul class="top-menu-ul">
							<li class="top-menu-item hot-line"><i class="fa fa-phone"></i> Hotline: 0912 333 444</li>
						</ul>
					</div>
					<div class="top-menu-right">
						<ul class="top-menu-ul">
							<li class="top-menu-item">
								<a class="top-item-link" href=""><i class="fa fa-shopping-cart"></i> Giỏ hàng</a>
							</li>
							<li class="top-menu-item">
								<a class="top-item-link" href=""><i class="fa fa-sign-in"></i> Đăng nhập</a>
							</li>
							<li class="top-menu-item">
								<a class="top-item-link" href=""><i class="fa fa-key"></i> Đăng ký</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="container">
			<div class="banner text-center pt-5 pb-5">
				Shop điện tử Online
			</div>
		</div>
	</div>


	<nav class="nav-bar navbar navbar-expand-lg navbar-light bg-light">
		<div class="nav-bar-container container">
			<!-- <a class="navbar-brand" href="#">Navbar</a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="./index.html">Trang chủ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./category.html">Giới thiệu</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./cart.html">Giỏ hàng</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./news.html">Tin tức</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./contact.html">Liên hệ</a>
					</li>
					
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Nhập tên sản phẩm"/>
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
						Tìm kiến
					</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="main container">
		<div class="row mt-4">
			<div class="col-md-3 col-12">
				<div class="main-left mb-5">
					<div class="main-left-title">
						Danh mục
					</div>
					<!--  menu  -->
					<div id="accordion" class="accordion-menu mb-4">
						<!-- accordion ---------------  -->

						<!-- ----------------------------- Menu item --------------------------  -->
						<div class="card card2">
						  <div class="card-header card-header2" id="headingOne">
							<h5 class="mb-0">
							  <button class="btn btn2 btn-link btn-link2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Điện thoại di động
							  </button>
							</h5>
						  </div>
					  
						  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body card-body2">
							  <ul class="accordion-list">
								<li class="accordion-item"><a class="accordion-link " href="./category-all.html">Xem tất cả</a></li>
								  <li class="accordion-item"><a class="accordion-link" href="./apple.html">Apple</a></li>
								  <li class="accordion-item"><a class="accordion-link text-primary" href="./samsung.html">Samsung</a></li>
								  <li class="accordion-item"><a class="accordion-link" href="">Nokia</a></li>
							  </ul>
							</div>
						  </div>
						</div>
						<!-- ----------------------------- End Menu item --------------------------  -->
						
						<!-- ----------------------------- Menu item --------------------------  -->
						<div class="card card2">
							<div class="card-header card-header2" id="headingOne">
								<h5 class="mb-0">
								<button class="btn btn2 btn-link btn-link2" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
									Máy tính xách tay
								</button>
								</h5>
							</div>
						
							<div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body card-body2">
								<ul class="accordion-list">
									<li class="accordion-item"><a class="accordion-link" href="">Dell</a></li>
									<li class="accordion-item"><a class="accordion-link" href="">Lenovo - Thinkpad</a></li>
									<li class="accordion-item"><a class="accordion-link" href="">Acer</a></li>
								</ul>
								</div>
							</div>
						</div>
							<!-- ----------------------------- End Menu item --------------------------  -->

						<div class="card card2">
							<div class="card-header card-header2" id="headingOne">
								<h5 class="mb-0">
								<button class="btn btn2 btn-link btn-link2" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
									Máy ảnh
								</button>
								</h5>
							</div>
						
							<div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body card-body2">
								<ul class="accordion-list">
									<li class="accordion-item"><a class="accordion-link" href="">Dell</a></li>
									<li class="accordion-item"><a class="accordion-link" href="">Lenovo - Thinkpad</a></li>
									<li class="accordion-item"><a class="accordion-link" href="">Acer</a></li>
								</ul>
								</div>
							</div>
						</div>

						<div class="card card2">
							<div class="card-header card-header2" id="headingOne">
								<h5 class="mb-0">
								<button class="btn btn2 btn-link btn-link2" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
									Thiết bị văn phòng
								</button>
								</h5>
							</div>
						
							<div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body card-body2">
								<ul class="accordion-list">
									<li class="accordion-item"><a class="accordion-link" href="">Dell</a></li>
									<li class="accordion-item"><a class="accordion-link" href="">Lenovo - Thinkpad</a></li>
									<li class="accordion-item"><a class="accordion-link" href="">Acer</a></li>
								</ul>
								</div>
							</div>
						</div>

						<div class="card card2">
							<div class="card-header card-header2" id="headingOne">
								<h5 class="mb-0">
								<button class="btn btn2 btn-link btn-link2" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
									Phụ kiện
								</button>
								</h5>
							</div>
						
							<div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body card-body2">
								<ul class="accordion-list">
									<li class="accordion-item"><a class="accordion-link" href="">Dell</a></li>
									<li class="accordion-item"><a class="accordion-link" href="">Lenovo - Thinkpad</a></li>
									<li class="accordion-item"><a class="accordion-link" href="">Acer</a></li>
								</ul>
								</div>
							</div>
						</div>

						<!-- end accordion -----------------  -->
					</div>
					<!-- end menu  -->

					<!-- news menu  -->
					<div class="news-menu">
						<div class="main-left-title">
							Tin tức nổi bật
						</div>
					</div>
					<!-- end news menu  -->

				</div>
			</div>
			<div class="col-md-9 col-12">
				<div class="main-right">
					

					<!-- feature product  -->
					<div class="main-left-title text-center mb-4">
						Samsung
					</div>
					
					<div class="right-box row">
						<div class="col-md-4 col-12 mb-4">
							<div class="product-box">
								<a href="./detail.html"><img src="./img/samsung-galaxy-z-fold-2-den-600x600.jpg" alt="" class="img-fluid"></a>
								<div class="product-title text-center"><a class="font-weight-bold" href="">Galaxy z fold 2 Đen</a></div>
								<div class="product-price text-center text-danger">50.500.000 VND</div>
								<div class="text-center mt-1"><button class="btn btn-primary btn-buy">Mua ngay</button></div>								
							</div>
						</div>
						<div class="col-md-4 col-12 mb-4">
							<div class="product-box">
								<a href=""><img src="./img/samsung-galaxy-z-fold-2-vang-600x600-600x600.jpg" alt="" class="img-fluid"></a>
								<div class="product-title text-center"><a class="font-weight-bold title-link" href="">Galaxy z fold 2 Vàng</a></div>
								<div class="product-price text-center text-danger">49.000.000 VND</div>
								<div class="text-center mt-1"><button class="btn btn-primary btn-buy">Mua ngay</button></div>
							</div>
						</div>
						<div class="col-md-4 col-12 mb-4">
							<div class="product-box">
								<a href=""><img src="./img/samsung-galaxy-s21-plus-062321-112345-400x400.jpg" alt="" class="img-fluid"></a>
								<div class="product-title text-center"><a class="font-weight-bold" href="">Galaxy s21 plus</a></div>
								<div class="product-price text-center text-danger">23.500.000 VND</div>
								<div class="text-center mt-1"><button class="btn btn-primary btn-buy">Mua ngay</button></div>
							</div>
						</div>
						<div class="col-md-4 col-12 mb-4">
							<div class="product-box">
								<a href=""><img src="./img/samsung-galaxy-s20-plus-xanh-600x600-600x600.jpg" alt="" class="img-fluid"></a>
								<div class="product-title text-center"><a class="font-weight-bold" href="">Galaxy s20 Xanh</a></div>
								<div class="product-price text-center text-danger">12.500.000 VND</div>
								<div class="text-center mt-1"><button class="btn btn-primary btn-buy">Mua ngay</button></div>
							</div>
						</div>
						
					</div>
					<!-- end feature product  -->
				</div>
			</div>	
		</div>
	</div>
	<div class="footer container-fluid text-center pt-5 pb-5 bg-light">
		Footer  -  &copy 2020
	</div>
<!-- --------------------------------- Javascript ------------------------------  -->
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="1.js"></script>
</body>

</html>